terraform:
  versions:
    - "1.3.5"
    - "0.14.8"
  default_version: "1.3.5"
  arch: "amd64"
  base_url: "https://releases.hashicorp.com/terraform"
  checksums:
    "1.3.5": "<SHA256SUM>"
    "0.14.8": "<SHA256SUM>"
  # download_urls:
  #   "0.14.8": "https://mirror.local/terraform_0.14.8_linux_amd64.zip"
