{%- set terraform_default                                     = {
      'url'                                                   : 'https://hashicorp-releases.yandexcloud.net/terraform',
      'versions'                                              : ['1.8.5'],
      'default'                                               : '1.8.5',
      'arch'                                                  : {
        'x86_64'                                              : 'amd64',
        'aarch64'                                             : 'arm64',
      }.get(grains.cpuarch|lower),
      'dirs'                                                  : {
        'root'                                                : '/usr/local/tools',
      },
    } 
%}

{%- set terraform = salt['pillar.get']('terraform', default=terraform_default, merge=True) %}

{%- macro get_download_url(version) -%}
{{ terraform.url }}/{{ version }}/terraform_{{ version }}_{{ grains.kernel|lower }}_{{ terraform.arch }}.zip
{%- endmacro -%}

{%- macro get_source_hash_url(version) -%}
{{ terraform.url }}/{{ version }}/terraform_{{ version }}_SHA256SUMS
{%- endmacro -%}

